<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>all.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>chkdrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>cminpack.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>hybdrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>hyjdrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>ibmdpdrc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>lmddrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>14</integer>
		</dict>
		<key>lmfdrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>lmsdrvc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>tchkderc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>thybrd1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>thybrdc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>thybrj1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>thybrjc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>tlmder1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>tlmderc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>tlmdif1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>tlmdifc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>tlmstr1c.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>tlmstrc.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1E548DC50F83DF460015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E060F83E1C10015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E180F83E2050015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E450F83E2DF0015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E5A0F83E2F90015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E6E0F83E3130015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E810F83E32D0015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548E930F83E3440015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548EB30F83E3810015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548EC30F83E38C0015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548ED30F83E3A10015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1E548EEC0F83E3F10015F022</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C254158779BA00F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C26415877A8B00F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C27215877A9500F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C28015877AA100F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C28E15877AAF00F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C29C15877ABA00F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1EA5C2AA15877AC900F5CFF7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D2AAC045055464E500DB518D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
